
.cabecalho {
    background-color: #d93193;
    font-size: 20;
    color: #2046c4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}
.img1{width:30%; 
    width: 1000px}
img{ align-items: center;}
