
.cabecalho {
    background-color: #d93193;
    font-size: 20;
    color: #2046c4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}
*{
    margin: 0;
    padding: 0;
}
.img1{
    width:60%; 
    height: 100px;
}
# img{ align-items: center;}
.corpo{background-color: rgb(250, 228, 199);
    font-family: sans-serif;}